<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Show loading state -->
      <div *ngIf="isLoading" class="text-center my-4 w-100">
       <p>Loading ticket details for editing...</p>
      </div>

      <!-- Main content (hidden while loading) -->
      <ng-container *ngIf="!isLoading">
        <!-- Left Side: Edit Form -->
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Edit Ticket</h4>
              <p class="card-category">Update ticket details</p>
            </div>
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Subject</label>
                      <input type="text" class="form-control" formControlName="subject" disabled />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Caller</label>
                      <input
                        type="text"
                        class="form-control"
                        [value]="ticket?.caller?.first_name + ' ' + ticket?.caller?.last_name"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Agent</label>
                      <input
                        type="text"
                        class="form-control"
                        [value]="ticket?.agent?.name"
                        disabled
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Status</label>
                      <select class="form-control" formControlName="status">
                        <option *ngFor="let status of statuses" [value]="status.value">
                          {{ status.label }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Content</label>
                      <input type="text" class="form-control" formControlName="content" />
                    </div>
                  </div>
                </div>

                <button class="btn btn-success pull-right" type="submit" [disabled]="form.invalid">Update</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>

        <!-- Right Side: Agent Info Card -->
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:void(0)">
                <img class="img" src="./assets/img/faces/marc.jpg" />
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">
                {{ ticket?.agent?.designation || 'Support Agent' }}
              </h6>
              <h4 class="card-title">
                {{ ticket?.agent?.name || 'N/A' }}
              </h4>
              <p class="card-description">
                Assigned support agent for this ticket. You can view their details or contact them for follow-up.
              </p>
              <a href="javascript:void(0)" class="btn btn-danger btn-round">Contact </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
