<div class="container py-4">
  <!-- Material Table -->
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Callers List</h4>
            </div>

            <div class="card-body">
                  <!-- Loading Spinner -->
                <div *ngIf="isLoading" class="text-center my-5">
                  <div class="spinner-border text-danger" role="status"></div>
                  <p class="mt-2">Loading caller...</p>
                </div>

                <!-- No data -->
                <div *ngIf="!isLoading && dataSource.length === 0" class="text-center text-muted mt-3">
                  No Caller found.
                </div>

              <mat-table [dataSource]="dataSource" *ngIf="!isLoading && dataSource.length > 0" class="mat-elevation-z8"
                multiTemplateDataRows>

                <!-- Full Name Column -->
                <ng-container matColumnDef="fullName">
                  <mat-header-cell *matHeaderCellDef>Full Name</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.first_name }} {{ row.last_name }}</mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container matColumnDef="phone">
                  <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.phone }}</mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                  <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.address }}</mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <a mat-raised-button color="primary" [routerLink]="['/callers', row.id, 'details']">
                      Caller Details
                    </a>
                  </mat-cell>
                </ng-container>

                <!-- Table Header and Rows -->
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              </mat-table>
              <!-- Paginator -->
              <mat-paginator 
              [length]="totalItems" 
              [pageSize]="pageSize" 
              [pageIndex]="currentPage"
                [pageSizeOptions]="[5, 10, 25,50]"
                 (page)="onPageChange($event)"
                   *ngIf="!isLoading && dataSource.length > 0">
              </mat-paginator>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>